/*Fonts*/
@font-face {
  font-family: Circe;
  font-weight: 400;
  src: url("fonts/Circe-Regular.ttf");
}
@font-face {
  font-family: Circe;
  font-weight: 500;
  src: url("fonts/Circe-Bold.ttf");
}

.top-banner__image {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 590px;
}
.project__date {
  margin-bottom: 25px;

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;

  color: #FFFFFF;
  opacity: 0.7;
}
.project__header {
  margin-bottom: 25px;

  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
  text-transform: uppercase;

  color: #FFFFFF;

}
.project__top-paragraph {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}

.app--project {
  padding-top: 60px;
  padding-bottom: 50px;
}
.app__title--project {
  width: 590px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 36px;

  text-transform: uppercase;
}
.app__button--project {
  width: 251px;
  height: 60px;
}
.footer {
  text-align: center;
}




.project__purposes,
.project__tz,
.project__moments,
.project__tender,
.project__conception,
.project__agreement,
.project__commissioning,
.project__conclusions,
.project__director {
  padding-top: 80px;
}

.project__purposes div,
.project__tz div,
.project__tender div,
.project__conception div,
.project__agreement div,
.project__conclusions div,
.project__results-wrap,
.director-wrapper {
  max-width: 1024px;
}

.project__title {
  margin-bottom: 40px;

  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  text-transform: uppercase;

  color: #4343E2;
}
.project__tz .project__list {
  margin-top: 20px;
}
.project__purposes-item {
  font-weight: 500;
  font-size: 20px;
  padding-left: 45px;
  background: url("img/mark-dark.svg") no-repeat left 2px / 16px;
  margin-bottom: 25px;
  margin-right: 25px;
  color: #2D2D2D;
}
.project__purposes-item:last-child {
  margin-bottom: 0px;
}
.project__paragraph {
  margin-bottom: 20px;

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #2D2D2D;
}
.project__paragraph:last-of-type {
  margin-bottom: 0px;
}
.project__paragraph--blue {
  color: #4343E2;
}

/* .project__list {
} */

.project__list-item {
  padding-left: 45px;
  background: url("img/mark-dark.svg") no-repeat left 2px / 16px;
  margin-bottom: 25px;
  margin-right: 25px;

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #2D2D2D;
}

.project__tz .project__list-item:last-child {
  margin-bottom: 0px;
}

.project__frame-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.project__frame-item {
  display: flex;
  flex-direction: column;

  width: 49%;
  min-height: 200px;
  padding: 20px;
  padding-bottom: 0;
  border: 2px solid #4343E2;
}
.project__frame-item::after {
  margin-top: auto;
  font-family: Circe;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 100px;
  color: #F3F3F3;
}
.project__frame-item:first-child::after {
  content: "1";
}
.project__frame-item:nth-child(2)::after {
  content: "2";
}
.project__frame-descp {
  margin-bottom: 5px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #2D2D2D;
}

@media (max-width: 767px) {
  .project__frame-list {
    flex-direction: column;
  }
  .project__frame-item {
    width: 100%;
  }
  .project__frame-item:first-of-type {
    margin-bottom: 20px;
  }
}

.project__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1164px;
}

.project__wrap-item:first-of-type {
  flex-basis: 590px;
  flex-shrink: 1;
  margin-right: auto;
}
.project__wrap-item:last-of-type {
  flex-basis: 468px;
  flex-shrink: 1;
  margin-left: 20px;
}
.project__wrap-item img {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .project__wrap {
    flex-wrap: wrap;
  }
  .project__wrap-item:last-of-type {
    margin-top: 20px;
    margin-left: 0px;
  }
}

.project__results {
  background-color: #F3F3F3;
  padding: 80px 0;
  margin-top: 80px;
}

.project__director {
  margin-bottom: 80px;
}

.director-wrapper {
  display: flex;
}
.director-img {
  margin-right: 35px;
}
.director-speech {
  padding: 20px;
  border: 2px solid #4343E2;
}
